.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-link {
  width: 100%;
}
.logo-img {
  width: 70px;
}
.container-wrapper {
  /* background-image: linear-gradient(to bottom right, rgb(131, 65, 192) 10%, rgb(196, 161, 228) 50%); */
  /* background-color:rgb(196, 161, 228); */
  min-height: 100vh;
  /* margin: 0; */
}
.navbar {
  background-color: rgba(120, 36, 199, 0.2)
}
.formImg {
  width: 100%;
}
.homeForm {
  min-height: 200px;
  border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(131, 65, 192) 10%, rgb(196, 161, 228) 50%);

}